.image{
  width: 360px;
  height: 200px;
  margin: 10px;
  border: 4px solid;
  font-size: 29px;
  font-weight: 700;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image.done {
  background-image: url("https://gstatic.com/webp/gallery/1.jpg");
}
.image.done .loader {
  display: none;
}

