.imge{
  width: 360px;
  height: 200px;
  margin: 10px;
  border: 4px solid;
  font-size: 29px;
  font-weight: 700;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image.done {
  background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F24283C3858F778CA2E&imgrefurl=https%3A%2F%2Fblankspace-dev.tistory.com%2F200&tbnid=3bPYTaav1zN1YM&vet=12ahUKEwiPj_y-08D3AhVczYsBHQj6CcUQMygAegUIARDEAQ..i&docid=dV6WfPf3OJctQM&w=800&h=500&q=%EC%9D%B4%EB%AF%B8%EC%A7%80&ved=2ahUKEwiPj_y-08D3AhVczYsBHQj6CcUQMygAegUIARDEAQ);
}
.image.done .loader {
  display: none;
}

